* {
	padding: 0;
	margin: 0;
}

.page {
	width: 80%;
	margin: auto;
	font-family: sans-serif;
	padding-top: 1em;
}
h1 {
	padding: .5em;
	border-bottom: 1px solid #ccc; 
}
.emp-search-form {
	padding: 1em;
}

.emp-search-form .field {
	margin: 1em 0;
}

.field input {
	padding: .5em;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc; 
}

.field label {
	display: block;
	margin: .3em 0;
	font-size: .8em;
	font-weight: 600;
}

.emp-search-form button {
	padding: .5em;
	border-radius: 5px
	border: 1px solid #ccc;
	outline: none;
}

hr {
	color: #c1c1c1;
	outline: none;
}

