* {
	padding: 0;
	margin: 0;
	font-family: 'Slabo 27px', serif;
}

.menu-list {
	list-style: none;
	background: rgba(22,22,35,.7);
	width: 20em;
}

.menu-list .menu-item {

}

.menu-list .menu-item a{
	padding: 1em;
	display: block;
	color: #fff;
	text-decoration: none;
}

.menu-list .menu-item a:hover {
	background: rgba(0,0,0,.7);
}

.computer-game-item,
.bath-product-item,
.decore-item {
	width: 10em;
	height: 10em;
	background: rgba(50,25,90,.5);
	color: #fff;
	vertical-align: middle;
	text-align: center;
}