<div class="dashboard">
	<div class='container'> 
		<h2>Dashboard</h2>
		<p>Lorem ipsum dolor qui exercitation irure exercitation in sint ullamco proident eu ut ut laborum minim officia id est sunt est cupidatat velit consectetur ad id anim excepteur.</p>
		<p>Do reprehenderit officia in deserunt non dolor labore veniam consequat ad nisi eiusmod cillum aute aliqua est dolor ut do in sit sunt reprehenderit consequat in in consectetur consequat consectetur ut eiusmod.</p>

		<a href="/notification">Notifications</a>
	</div>
</div>