<div>
	<form class="emp-search-form" 
			[formGroup]="form"
			(ngSubmit)="onSubmit(form.value)">
		<p class="field">
			<label for="empName">Employee Name: </label>
			<input type="text" name="empName" id='empName' formControlName="empName">
		</p>
		<p *ngIf="form.controls.empName.errors?.pattern" class="error">
			This is a mandatory field.
		</p>
		<p class="field">
			<label for="lastName">Last Name: </label>
			<input type="text" name="lastName" id='lastName' formControlName="lastName">
		</p>
		<p *ngIf="form.controls.lastName.errors?.lastName" class="error">
			This is a mandatory field to 
			{{form.controls.lastName.errors?.lastName.validFlag}} and test pass 
			{{form.controls.lastName.errors?.lastName.testPass}}.
		</p>
		<p class="field">
			<label for="empLocation">Employee Location: </label>
			<input type="text" name="empLocation" id='empLocation' formControlName="empLocation">
		</p>
		<p *ngIf="form.controls.empLocation.errors?.empLocation" class="error">
			This is a mandatory field to 
			{{form.controls.empLocation.errors?.empLocation.validFlag}} and test pass 
			{{form.controls.empLocation.errors?.empLocation.testPass}}.
		</p>
		
		<button type="submit" [disabled]="!form.valid">Search</button>
	</form>
</div>