<h2>Time Child Component</h2>

<ul class="time-child-list">
	<li *ngIf="count==1">
		One
		<p class="child-info hide">Est fugiat do elit.</p>
	</li>
	<li *ngIf="count==2">
		Two
		<p class="child-info hide">Exercitation anim exercitation aliqua exercitation minim labore ut adipisicing nulla velit.</p>
	</li>
	<li *ngIf="count==3">
		Three
		<p class="child-info hide">Duis proident in sunt veniam consectetur dolor id excepteur cupidatat ut dolore in ut qui in officia magna veniam labore sed nisi consectetur nisi.</p>
	</li>
</ul>