<form class="user-profile-form" novalidate 
	[formGroup]="form"
	(ngSubmit)="onFormSubmit(form.value)">
	<div>
		<p>
			<label for="firstName">First Name: </label>
			<input type="text" class="field" name="firstName" id="firstName" formControlName="firstName">

		</p>
		<p  *ngIf="form.controls.firstName.errors?.firstName" class="error">
			Show Errors!
		</p>
		<p>
			<label for="lastName">Last Name: </label>
			<input type="text" class="field" name="lastName" id="lastName" formControlName="lastName">
		</p>					
	</div>
	<div>
		<p>
			<label for="location">Location: </label>
			<select name="location" id="location" formControlName="location" class="field">
				<option *ngFor="let loc of empLocationList.locations" value="{{loc}}">{{loc}}</option>
			</select>
		</p>
		<p>
			<label for="email">Email: </label>
			<input type="text" class="field" name="email" id="email" formControlName="email">
		</p>					
	</div>
	
	<button type='submit' class="submit-cta" [disabled]="!form.valid">
		Submit
	</button>
</form>